{#
  Copyright (C) 2014  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{% macro render_infobox(package, version, pkg_infos, position="fixed") -%}
  <script type="text/javascript">
    function toggle(id)
    {
    var elem = document.getElementById(id);
    if(elem.style.display == "none")
      elem.style.display = "block";
    else
      elem.style.display = "none";
    }
  </script>

{% if position == "fixed" %}
<div id="pkginfobox" class="pkginfobox_fixed">
{% else %}
<div id="pkginfobox" class="pkginfobox_large">
{% endif %}
  {% if position == "fixed" %}
  <span onclick="toggle('infobox_content')">package info
    <small>(click to toggle)</small></span>
  {% endif %}
  <div id="infobox_content">
    {% if position == "fixed" %}
    <em>{{ package }} {{ version }}</em>
    {% endif %}
    <ul>
      <li>links:
	<a href="{{ pkg_infos['pts_link'] }}"><abbr title="Debian Package Tracking
							   System">PTS</abbr></a>{% if pkg_infos['vcs_browser'] %},
	<a href="{{ pkg_infos['vcs_browser'] }}"><abbr title="Version Control System">VCS</abbr></a>
	{% endif %}</li>
      <li>area: {{ pkg_infos['area'] }}</li>
      <li>in suites: {{ pkg_infos['suites']|join(', ') }}</li>
      {% if pkg_infos['metric']['size'] %}
        <li>size: {{ pkg_infos['metric']['size'] | format_big_num }} kB</li>
      {% endif %}
      {% if pkg_infos['sloc'] %}
        <li><abbr title="source lines of code">sloc</abbr>:
	  {% if position == "fixed" %}
            {% for x in pkg_infos['sloc'] %}
              {{ x[0] + ": " + x[1] | format_big_num }}{%
              if not loop.last %}; {% endif %}
            {% endfor %}
	  {% else %}
	  <ul>
            {% for x in pkg_infos['sloc'] %}
	    <li>{{ x[0] + ": " + x[1] | format_big_num }}</li>
            {% endfor %}
	  </ul>
	  {% endif %}
        </li>
      {% endif %}
    </ul>
  </div>
</div>

{%- endmacro %}
