{#
  Copyright (C) 2014  Matthieu Caneill <matthieu.caneill@gmail.com>
  License: GNU Affero General Public License, version 3 or above.
#}

{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block breadcrumbs %}stats{% endblock %}

{% block content %}

<h2>{{ self.title() }}</h2>

<ul>
  <li><a href="#size_current">Size</a></li>
  <li><a href="#sloc_current">Source lines of code</a></li>
  <li><a href="#hist_trends">Historical trends</a>
    <ul>
      <li><a href="#hist_disk_usage">Disk usage</li>
      <li><a href="#hist_sloc">Source lines of code</li>
      <li><a href="#hist_source_pkgs">Source packages</li>
      <li><a href="#hist_source_files">Source files</li>
      <li><a href="#hist_ctags">Ctags</li>
    </ul>
  </li>
</ul>

{% if news -%}
<h3><a name="news">News</a></h3>
{{ news|safe }}
{% endif %}

<h3><a name="size_current">Size (current)</a></h3>

{% macro size_table(suites) -%}
<table class="stats">
  <tr class="head">
    <th></th>
    {% for suite in suites %}
      <th><a href="{{ url_for('stats_html', suite=suite[7:]) }}">
	  {{ suite[7:] }}</a></th>
    {% endfor %}
  </tr>
  <tr>
    <th>Disk usage (kB)</th>
    {% for suite in suites %}
      <td>{{ results[suite + ".disk_usage"] | format_big_num }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Sources lines of code</th>
    {% for suite in suites %}
      <td>{{ results[suite + ".sloccount"] | format_big_num }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Source packages</th>
    {% for suite in suites %}
      <td>{{ results[suite + ".source_packages"] | format_big_num }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Source files</th>
    {% for suite in suites %}
      <td>{{ results[suite + ".source_files"] | format_big_num }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Ctags (symbols)</th>
    {% for suite in suites %}
      <td>{{ results[suite + ".ctags"] | format_big_num }}</td>
    {% endfor %}
  </tr>
</table>
{% endmacro -%}

<h4><a name="size_cur_releases" />Releases</h4>
{{ size_table(release_suites) }}

<h4><a name="size_cur_devel" />Development suites</h4>
{{ size_table(devel_suites) }}

<h3><a name="sloc_current">Source lines of code (current)</a></h3>

{% macro sloccount_table(suites) -%}
<table class="stats">
  <tr class="head">
    <th></th>
    {% for suite in suites %}
      <th><a href="{{ url_for('stats_html', suite=suite[7:]) }}">
	  {{ suite[7:] }}</a></th>
    {% endfor %}
  </tr>
  <tr>
    <th>Total</th>
    {% for suite in suites %}
      <td>{{ results[suite + ".sloccount"] | format_big_num }}</td>
    {% endfor %}
  </tr>
  {% for lang in languages|sort %}
    <tr>
      <th>{{ lang }}</th>
      {% for suite in suites %}
        <td>{{ results[suite + ".sloccount." + lang] | format_big_num }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
{% endmacro -%}

<div>
<span class="sidechart">
  <a href="{{ url_for('static',
	   filename='img/stats/ALL-sloc_pie-current.png') }}">
    <img src="{{ url_for('static',
	      filename='img/stats/ALL-sloc_pie-current.png') }}" />
  </a>
</span>
<h4>Releases</h4>
{{ sloccount_table(release_suites) }}
<h4>Development suites</h4>
{{ sloccount_table(devel_suites) }}
</div>

<h3><a name="hist_trends">Historical trends</a></h3>

{% import "stats_trends.inc.html" as stats_trends %}
{{ stats_trends.render_trends("ALL") }}


{% endblock %}
